.about{
  padding: 200px 0 0;

  &-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 45px;
  }
  &-description{
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
  }

}