.advantages{
  padding: 200px 0;
  text-align: center;
  &__title{
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    margin-bottom: 120px;
  }

  &-title{
    margin: 60px 0 30px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
  }
  &-description{
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.8;
  }



}