.header{
  position: absolute;
  width: 100%;
  top: 40px;

  &__container{
    margin: 0 80px;
  }

  &__nav{
    display: flex;
    font-size: 16px;
    font-weight: 400;
    justify-content: space-between;
    align-items: center;
  }
  &__menu{
    display: flex;
    list-style-type: none;
    column-gap: 56px;
  }
  &__button{
    width: 183px;
    height: 44px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    border: none;
    color: #fff;
  }
}