.main-screen{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../img/main-screen/main-screen__bgc.png") top left/100% 100% no-repeat;

  &__title{
    font-size: 64px;
    line-height: 140%;
    font-weight: bold;
    margin-bottom: 50px;
  }

  &__items{
    background: #121212;
    text-align: center;
    padding: 20px 30px;
    &-title{
      font-weight: bold;
      font-size: 36px;
      line-height: 140%;
    }
    &-description{
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
      /* or 22px */
      text-align: center;
      opacity: 0.4;
    }
  }

}