.partners{
  padding: 200px 0 0;
  &__title-block{
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
  }
  &__title{
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    margin-left: 50px;
  }
}