.program{
  &__container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__timeline{
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
  }
  &__timeline-title{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
  }
  &__timeline-description{
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
  }
}

ul {
  list-style: none;
}

li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px){
  .program__timeline li{
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
}