.start{
  padding: 200px 0 0;
  &__title{
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
  }
  &__description{
    padding: 49px 0 80px 0;
    margin-left: 30px;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.5;
  }
  &-title{
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 36px;
    line-height: 140%;
  }
  &-span1{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    padding: 25px 164px;
  }

  &-span2{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    padding: 15px 164px;
  }

  &-span3{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    padding: 5px 164px;
  }

  &-span4{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    padding: 0 164px;
  }

  &-description{
    padding: 50px 0 0 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    opacity: 0.5;
  }


}