.teachers{
  padding: 200px 0 0;
  &-block{
    display: flex;
    align-items: flex-start;
  }
  &__title{
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    margin-left: 40px;
  }
  &__info{
    margin-top: 110px;
    &-title{
      font-weight: 500;
      font-size: 24px;
      line-height: 140%;
      margin-top: 40px;
    }
    &-description{
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      margin-top: 15px;
    }
    &-btn{
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      color: #FFFFFF;
      padding: 10px 30px;
      background: transparent;

      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 50px;
      margin-top: 30px;

    }
  }
}