* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #ffffff;
}

.container {
  max-width: 1315px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-1 {
  width: 102px;
  height: 112px;
  margin-right: 30px;
}

.header {
  position: absolute;
  width: 100%;
  top: 40px;
}
.header__container {
  margin: 0 80px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
}
.header__button {
  width: 183px;
  height: 44px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50px;
  border: none;
  color: #fff;
}

.main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: url("../img/main-screen/main-screen__bgc.png") top left/100% 100% no-repeat;
}
.main-screen__title {
  font-size: 64px;
  line-height: 140%;
  font-weight: bold;
  margin-bottom: 50px;
}
.main-screen__items {
  background: #121212;
  text-align: center;
  padding: 20px 30px;
}
.main-screen__items-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
}
.main-screen__items-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  opacity: 0.4;
}

.line {
  background: #121212;
}
.line__button {
  padding: 10px 30px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}
.line__items {
  margin: 36px 81px;
}
.line__items-left {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.4;
  margin-right: 30px;
}
.line__items-right {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}
.line__progress-bar {
  background: #7C6AFA;
  padding: 0.1px 355px;
}
.line__progress-metrics-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}