* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #ffffff;
  background: black;
}

.container {
  max-width: 1315px;
  width: 100%;
  margin: 0 auto;
}

.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-1 {
  width: 102px;
  height: 112px;
  margin-right: 30px;
}

.col-3a {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.col-4 {
  width: 33.3%;
  text-align: center;
}

.header {
  position: absolute;
  width: 100%;
  top: 40px;
}
.header__container {
  margin: 0 80px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-column-gap: 56px;
     -moz-column-gap: 56px;
          column-gap: 56px;
}
.header__button {
  width: 183px;
  height: 44px;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50px;
  border: none;
  color: #fff;
}

.main-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: url("../img/main-screen/main-screen__bgc.png") top left/100% 100% no-repeat;
}
.main-screen__title {
  font-size: 64px;
  line-height: 140%;
  font-weight: bold;
  margin-bottom: 50px;
}
.main-screen__items {
  background: #121212;
  text-align: center;
  padding: 20px 30px;
}
.main-screen__items-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
}
.main-screen__items-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  opacity: 0.4;
}

.line {
  background: #121212;
}
.line__button {
  padding: 10px 30px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}
.line__items {
  margin: 36px 81px;
}
.line__items-left {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.4;
  margin-right: 30px;
}
.line__items-right {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
}
.line__progress-bar {
  background: #7C6AFA;
  padding: 0.1px 355px;
}
.line__progress-metrics-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  padding: 200px 0 0;
}
.about-title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  margin-bottom: 45px;
}
.about-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
}

.advantages {
  padding: 200px 0;
  text-align: center;
}
.advantages__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  margin-bottom: 120px;
}
.advantages-title {
  margin: 60px 0 30px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
}
.advantages-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.8;
}

.partners {
  padding: 200px 0 0;
}
.partners__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 60px;
}
.partners__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  margin-left: 50px;
}

.start {
  padding: 200px 0 0;
}
.start__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
}
.start__description {
  padding: 49px 0 80px 0;
  margin-left: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
}
.start-title {
  margin-bottom: 35px;
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
}
.start-span1 {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  padding: 25px 164px;
}
.start-span2 {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  padding: 15px 164px;
}
.start-span3 {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  padding: 5px 164px;
}
.start-span4 {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  padding: 0 164px;
}
.start-description {
  padding: 50px 0 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.5;
}

.program__container {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.program__timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.program__timeline-title {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}
.program__timeline-description {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}

ul {
  list-style: none;
}

li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .program__timeline li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
}
.teachers {
  padding: 200px 0 0;
}
.teachers-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.teachers__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
  margin-left: 40px;
}
.teachers__info {
  margin-top: 110px;
}
.teachers__info-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin-top: 40px;
}
.teachers__info-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  margin-top: 15px;
}
.teachers__info-btn {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 10px 30px;
  background: transparent;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  margin-top: 30px;
}

.footer {
  padding: 200px 0 0 0;
}
.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
}
.footer-description {
  margin-top: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.5;
}
.footer__input {
  position: relative;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-input {
  margin-right: 65px;
  padding: 0 40px;
  left: 700px;
  background: #FFFFFF;
  opacity: 0.25;
  border-radius: 50px 0 0 50px;
  width: 425px;
  height: 44px;
}
.footer-button {
  position: absolute;
  left: 750px;
  width: 160px;
  height: 44px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  border: none;
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
  margin-bottom: 40px;
}
.footer__icons .fa-vk {
  height: 50px;
  padding: 15px;
  width: 50px;
  border-radius: 72px;
}
.footer__icons .fa-youtube {
  height: 50px;
  padding: 16px 16px;
  width: 50px;
  border-radius: 72px;
}
.footer__icons .fa-facebook-f {
  height: 50px;
  padding: 15px 20px;
  width: 50px;
  border-radius: 72px;
}
.footer__icons .fa-instagram {
  height: 50px;
  padding: 16px 18px;
  width: 50px;
  border-radius: 72px;
}
.footer .fab {
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.footer a {
  padding: 0 30px 0 0;
}