.footer{
  padding: 200px 0 0 0;
  &__title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
  }
  &-description{
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    opacity: 0.5;
  }

  &__input{
    position: relative;
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }

  &-input{
    margin-right: 65px;
    padding: 0 40px;
    left: 700px;
    background: #FFFFFF;
    opacity: 0.25;
    border-radius: 50px 0 0 50px;
    width: 425px;
    height: 44px;
  }
  &-button{
    position: absolute;
    left: 750px;
    width: 160px;
    height: 44px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border-radius: 50px;
    border: none;
  }
  &__icons{
    display: flex;
    top: 200px;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 40px;

    .fa-vk{
      height: 50px;
      padding: 15px;
      width: 50px;
      border-radius: 72px;
    }
    .fa-youtube{
      height: 50px;
      padding: 16px 16px;
      width: 50px;
      border-radius: 72px;
    }
    .fa-facebook-f{
      height: 50px;
      padding: 15px 20px;
      width: 50px;
      border-radius: 72px;
    }
    .fa-instagram{
      height: 50px;
      padding: 16px 18px;
      width: 50px;
      border-radius: 72px;
    }

  }

  .fab{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  }

  a{
    padding: 0 30px 0 0;
  };
}